@viewport
  width: device-width

@-ms-viewport
  width: device-width


/* Base
  ----------------------- */

html
  line-height: $base-line-height-alt
  font-family: $base-font-family
  font-size: $base-font-size-alt
  color: $base-font-color
  /* This may cause problems in Firefox when combined with JS plugins (like modals or drag-and-drop UIs) that rely on viewport dimension calculations */
  overflow-y: scroll
  -webkit-font-smoothing: antialiased

body
  background-color: $bg-body
  // &:after
  //   +rwd-marker

.container
  +container()

  +breakpoint($tablet)
    +show-grid(8)

  +breakpoint($desktop)
    +show-grid(12)


/* Media
  ----------------------- */

audio,
canvas,
img,
svg,
video
  vertical-align: middle

img
  max-width: 100%


/* Header
  ----------------------- */

header
  margin-bottom: 10px
  background-color: $bg-header

// top bar...

#top-bar
  height: 30px
  margin-top: 5px
  padding-bottom: 5px
  border-bottom: 1px solid $border

.location
  +span(3 of 12)

.menubar
  +span(9 of 12 last)
  /* bulk of .menubar in _navigation.sass */

// banner advertisement...

#banner-ad
  height: 50px

// main banner area...

#banner
  margin-top: 10px
  +clearfix

.logo
  +span(2 of 12)

.micro-ad
  +span(2 of 12)

.search
  +span(6 of 12)

.search-input
  float: left
  width: 450px
  height: 38px
  padding: 4px 2px 4px 8px
  border: 2px solid $orange
  border-right-width: 0
  overflow: hidden
  input
    width: 100%
    height: 30px
    line-height: 30px
    font-size: 14px
    border: 0

.search-button
  float: left
  height: 38px
  input
    height: 38px
    line-height: 38px
    margin: 0
    padding: 0 20px
    font-size: 14px
    font-weight: 700
    color: $font-white
    text-align: center
    background-color: $rich-blue
    border: 0
    cursor: pointer

.search-button input:hover
  color: #207cca
  background-color: #fafafa

.search ul
  clear: both

.post
  +span(2 of 12 last)

// tabs...

nav
  clear: both
  margin-top: 10px
  border-top: 1px solid $border
  border-bottom: 4px solid $orange
  /* .tabs in _navigation.sass */


/* Footer
  ----------------------- */

footer
  height: 100px
  margin-top: 30px
  ul
    margin-bottom: 5px
    li
      display: inline-block
      padding: 0 10px
    li:first-child
      padding-left: 0

  p
    margin-top: 0
    font-size: 75%
    color: $font-gray
