/* Top Bar
  ----------------------- */

.menubar
  margin: 0
  list-style: none
  font-family: $font-family-nav
  text-align: right

.menubar-item
  display: inline-block
  position: relative

.menubar-item-target
  display: inline-block
  padding: 0 10px
  white-space: nowrap

  // &:hover, .is-selected &

.menu
  display: none
  position: absolute
  top: 100%
  width: 15em
  list-style: none
  background: $bg-header
  text-align: left

  .is-selected &
    display: block

.menu-item-target
  display: block
  margin: 10px 0
  padding-left: 10px
  text-decoration: none

  // &:hover

.caret-icon
  display: inline-block
  position: relative
  left: -10px
  width: 0
  height: 0
  vertical-align: middle
  color: inherit
  border-top: 5px solid
  border-right: 5px solid transparent
  border-left: 5px solid transparent
  overflow: hidden /* for IE6 */


/* Search Utility
  ----------------------- */

.search ul
  +inline-block-list
  li
    padding: 0 5px
    font-family: $font-family-nav
  li:first-child
    padding-left: 0


/* Main (Tabs)
  ----------------------- */

.tabs
  line-height: 40px
  margin: 0
  padding: 0
  list-style: none
  li
    display: inline-block
    padding: 0 10px
    font-family: $font-family-nav
    text-align: center

.selected
  background: $orange
  a
    +link-colors($font-white, $font-white, $font-white, $font-white, $font-white)
