/* Main
  -----------------------

nav
  float: left
  margin: 25px 0 0 250px

ul#nav
  +inline-block-list
  li
    padding: 0 20px
    font-family: $font-family-nav
    +link-colors($color-nav, $color-nav, $color-nav, $color-nav, $color-nav)
  li:first-child
    padding-left: 0
