@import "common"


/* Pages
  ----------------------- */

.col1
  +span(3)
  background: lighten($orange, 10)

.col2
  +span(3)
  background: lighten($rich-blue, 10)

.col3
  +span(5)
  background: lighten($charcoal, 10)

.col4
  +span(5 last)
  background: lighten($gray, 10)

.c2, .c3
  display: inline-block
  font-style: normal
  white-space: nowrap

.c2
  width: 50%

.c3
  width: 33%
